.env
.env.*
!.env.example

*.pem
*.key
*.log

__pycache__/
node_modules/

.terraform/
terraform.tfstate
terraform.tfstate.*
.venv/
# Terraform local files and state
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/crash.log
